## Homework 2: Food deserts

In this assignment, we'll use a variety of data sources to quantify the existence of food deserts in LA County. The assignment is *loosely* based on the food pantry example from class. It focuses on honing your skills in processing and joining data together, particularly spatially.

A quick note: It's great to look at your variables, dataframes, etc. while you are exploring the data. But **please comment out those exploratory lines of code before submitting**. It makes it hard for us to find your solutions.

Your repository includes a csv file of SNAP-authorized retailers. [It was downloaded from USDA.](https://www.fns.usda.gov/snap/retailer-locator) To my knowledge, this is the most comprehensive list of grocery outlets in the US.

Load it into a pandas dataframe called `snapDf`. Keep only the observations that are in Los Angeles County.

In [2]:
# your code here
import pandas as pd 
snapDf = pd.read_csv('/Users/stephanieandrade/Documents/GitHub/urbandatascience-s22/hw2-joins-stephandrade14/hw2_joins/SNAP_Store_Locations.csv')
snapDf = snapDf[snapDf.County=='LOS ANGELES']
snapDf.head() # replace with your DataFrame

,X,Y,ObjectId,Store_Name,Address,Address_Line__2,City,State,Zip5,Zip4,County,Longitude,Latitude
147,-118.41369,34.240505,148,One Stop Mini Mart,12906 Branford St,NaN,Pacoima,CA,91331,4300,LOS ANGELES,-118.41369,34.240505
155,-118.08771,33.831539,156,Malty Chevron,11529 Carson St,NaN,Lakewood,CA,90715,2513,LOS ANGELES,-118.08771,33.831539
174,-118.05626,33.999092,175,Whittier Ranch Market,10722 Beverly Blvd,Ste J,Whittier,CA,90601,2052,LOS ANGELES,-118.05626,33.999092
276,-118.03526,34.057053,277,Favorito Market,2432 Tyler Ave,NaN,El Monte,CA,91733,2714,LOS ANGELES,-118.03526,34.057053
412,-118.21273,33.980682,413,Nabils Mobil Mart Llc,3084 E Gage Ave,EAS,Huntington Park,CA,90255,4432,LOS ANGELES,-118.21273,33.980682

In [3]:
# Autograding tests - do not edit
print(snapDf.columns)
print(snapDf.County.unique())
print(len(snapDf))
assert all(snapDf.columns == ['X', 'Y', 'ObjectId', 'Store_Name', 'Address', 'Address_Line__2',
       'City', 'State', 'Zip5', 'Zip4', 'County', 'Longitude', 'Latitude'])
assert all(snapDf.County=='LOS ANGELES')
assert len(snapDf)==6185

Index(['X', 'Y', 'ObjectId', 'Store_Name', 'Address', 'Address_Line__2',
       'City', 'State', 'Zip5', 'Zip4', 'County', 'Longitude', 'Latitude'],
      dtype='object')
['LOS ANGELES']
6185

If you look at the store names, many of the places that accept SNAP benefits are liquor stores and gas stations. These might have an important role where no other food is available, but are likely to have a limited range of food, particularly fresh produce. 

Let's keep them in the dataset for the moment, but create a new column, `liquor_or_gas`, that is `True` if the store has `liquor` or `gas` in its name (`Store_Name`), and is `False` otherwise. Note that `True` and `False` should be boolean values, not the strings `"True"` and `"False"`. 

Pay attention to upper vs lower case! But don't worry about spelling errors here (although in practice, that should be part of your data cleaning).

*Hint:* you can use `apply` with either a `lambda` anonymous function or a regular function. Look at the example from class where we create the `ped_accident_numeric` variable.

In [ ]:
def liquororgas(x):
    if x in'Liquor' in 'Store_Name':
        return True
    elif x=='Gas' in 'Store_Name':
        return True
    else:
        return False

In [ ]:
liquororgas = lambda x: True if 'liquor' in x or 'gas' in x else False
print(liquororgas('F&M Liquor'))

In [10]:
 # your code here
def liquororgas(x):
    if x == 'liquor':
        return True
    elif x == 'gas':
        return True
    else:
        return False
snapDf['liquor_or_gas'] = snapDf.Store_Name.apply(liquororgas) #new column
snapDf[['Store_Name','liquor_or_gas']].head(20)

                       Store_Name  liquor_or_gas
147            One Stop Mini Mart          False
155                 Malty Chevron          False
174         Whittier Ranch Market          False
276               Favorito Market          False
412         Nabils Mobil Mart Llc          False
415            Richard's Liquor 1          False
431                 El Progreso 4          False
487      New India Sweet & Spices          False
514                 Tare Grocery           False
531                   Downey Mart          False
544               Arco Ampm 42516          False
600                   Bens Market          False
635              Wee Vill Market           False
688               Arco Ampm 42766          False
704                Bonitos Market          False
841              Oxford Mini Mart          False
926           United Pacific 0223          False
963             Mlk Gas Station 0          False
964                  F & M Liquor          False
1011  7- Star Liquor & Market N/A          False

In [ ]:
# Autograding tests - do not edit
print(snapDf.liquor_or_gas.mean().round(2))
print(snapDf.liquor_or_gas.dtype)
assert snapDf.liquor_or_gas.mean().round(2) == 0.13
assert snapDf.liquor_or_gas.dtype=='bool'

Let's have a quick look at how the proportion of liquor stores / gas stations varies by city. If you look at the `City` field, there's some cleaning that needs to be done first, however.

Replace the `City` field so that all the cities are in Title case. (Title case means the first letter of each word is capitalized, such as Los Angeles or North Hollywood.)

*Hint:* The `title()` function works the same way as `upper()` and `lower()`.

In [ ]:
# your code here

In [ ]:
# Autograding tests - do not edit
print(len(snapDf.City.unique()))
assert len(snapDf.City.unique()) == 148
assert 'Los Angeles' in snapDf.City.values

Now, look at the proportion of liquor stores / gas stations by city. 

In which cities are at least 25% of the SNAP outlets liquor stores or gas stations? Assign this list of cities and their means to a `pandas` `Series` called `cities_subset`. (Remember, a `Series` is like a one-column `DataFrame`.) 

*Hint:* You'll need to `groupby` the `City` field to get the means for all cities. Then, in a second line, restrict your result to just those cities with a mean of at least 25%.

In [ ]:
# your code here
cities_subset = 999 # replace 999 with your answer

In [ ]:
# Autograding tests - do not edit
print(len(cities_subset))
assert isinstance(cities_subset, pd.Series)
assert len(cities_subset)==11

Now, let's bring in the [California EnviroScreen data](https://oehha.ca.gov/calenviroscreen/maps-data). This has both demographic and environmental justice-related data, and also the spatial boundaries of census tracts. We used it in class, so it will be in your GitHub course repository.

Load the data in to a `geopandas` `GeoDataFrame` called `esGdf`, and restrict it to the tracts in LA county.

In [ ]:
# your code here
import geopandas as gpd
esGdf = 999 # replace with your code

In [ ]:
# Autograding tests - do not edit
print(len(esGdf))
assert len(esGdf)==2343
assert isinstance(esGdf, gpd.GeoDataFrame)

First, let's do a tabular (non-spatial) join to ZIP code.

Create a new dataframe called `zipcodes` with one row for each ZIP code, that includes the following columns:
* `n_SNAP`: the number of SNAP outlets
* `n_SNAP_excl_liquor_gas`: the number of SNAP outlets excluding liquor and gas stores
* `es_percentile`: the mean EnviroScreen percentile (`CIscoreP`) for census tracts that intersect the ZIP code

(In practice, we might want to weight census tracts by area or population, but don't worry about that here.)

*Hints*:
- I recommend creating three temporary dataframes (or Series) at the ZIP-code level with the number of SNAP outlets, the number of non-liquor and gas store SNAP outlets, and the mean score
- If you get an error that `Series object has no attribute 'join'`, you can convert that Series to a DataFrame: `pd.DataFrame(your_series_name)` 
- Then, you can join them all together
- You'll probably need to rename the columns
- Remember to include all ZIP codes, including ones without a SNAP outlet, and replace NaNs with zeros if appropriate

In [ ]:
# your code here
zipcodes = 999

In [ ]:
# Autograding tests - do not edit

print(len(zipcodes))
print(zipcodes.mean())

assert len(zipcodes) == 282
assert zipcodes.CIscoreP.mean().round(2) == 26.70
assert zipcodes.n_SNAP_excl_liquor_gas.mean().round(2) == 18.97

Now let's do a spatial join. 

`esGdf` already has a `geometry` column and is a GeoDataFrame, but `snapDf` is a regular pandas DataFrame.

Use the `Latitude` and `Longitude` columns to add a point geometry field to `snapDf`, and turn it into a `GeoDataFrame` called `snapGdf`.

In [ ]:
# your code here
snapGdf = 999 # replace 999 with your solution

In [ ]:
# Autograding tests - do not edit
print(snapGdf.geometry.x.min())
print(snapGdf.geometry.y.max())
assert isinstance(snapGdf, gpd.GeoDataFrame)
assert snapGdf.geometry.x.min().round(2) == -118.81
assert snapGdf.geometry.y.max().round(2) == 35.13

Now, let's join the two GeoDataFrames together. The aim: count the number of SNAP outlets (in both our liquor store/gas station and other categories) per census tract.

There are several ways to do it. My suggestion is as follows:
1. Add the `tract` column to `snapGdf` using a spatial join
2. Aggregate `snapGdf` by the new `tract` column using `groupby()`, to get a count of SNAP outlets in each tract
3. Join those counts to `esGdf`

Let's do these one step at a time. First, add the `tract` column to `snapGdf`. I suggest you use the `gpd.sjoin()` function and a left join. Call the new `GeoDataFrame` `snapGdf2`.

*Hint:* You might need to reproject!

In [ ]:
# your code here
snapGdf2 = 999 # replace 999 with your code

In [ ]:
# Autograding tests - do not edit
print(len(snapGdf2))

assert len(snapGdf2)==6212
assert 'Tract' in snapGdf2.columns

That should have been a 1:many join, not the 1:1 join that you might have been expecting. (You ended up with more rows than you started with). Think about what might have caused this! 

We didn't cover in class how to drop the duplicates, but the block of code below should fix it.

In [ ]:
print('{} rows in snapGdf'.format(len(snapGdf)))
print('{} rows in snapGdf2 (after join)'.format(len(snapGdf2)))

# you can also see that the ObjectId column (which identifies the SNAP providers) 
# is unique before the join, but not after
print(snapGdf.ObjectId.is_unique)  # is there one row per SNAP outlet before the join?
print(snapGdf2.ObjectId.is_unique) # is there one row per SNAP outlet after the join?

# drop the duplicates by just taking the first ObjectId that joins to each tract
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html
snapGdf2.drop_duplicates(subset='ObjectId', keep='first', inplace=True)
print('{} rows in snapGdf2 (after dropping duplicates)'.format(len(snapGdf2)))

Now, aggregate snapGdf2 by the new `tract` column to get a count of SNAP outlets in each census tract. Call the resulting Series `snap_counts`.

In [ ]:
snap_counts = 999 # your code here

In [ ]:
# Autograding tests - do not edit
print(snap_counts.sum())
assert snap_counts.sum() == 6144

Final step in the join process! Let's join `snap_counts` back to `esGdf` to create a new geodataframe called `joinedGdf`. 

Call the new column `n_snap`. (*Hint*: the easiest way to get this name is to rename the Series in the previous answer.)

This should be a left join (so you don't leave out any census tracts) on the `Tract` column.

Remember to fill in any missing data with zeros, if appropriate.

In [ ]:
joinedGdf = 999 # your answer here

In [ ]:
# Autograding tests - do not edit

print(len(joinedGdf))
print(snap_counts.sum(), joinedGdf.n_snap.sum(), joinedGdf.n_snap.count())
assert len(joinedGdf) == len(esGdf)
assert snap_counts.sum() == joinedGdf.n_snap.sum()
assert joinedGdf.n_snap.count() == len(joinedGdf)

Now plot a map of the `n_outlets_other` column. Use the examples from class. At a minimum, your map should have:
* a basemap (e.g. from contextily)
* a legend or colorbar
* a title

If you can figure it out, you might want to drop Catalina Island to focus on mainland LA County. (Hint: the `ax.set_ylim()` function is useful here.)

In [ ]:
# your code here
import contextily as ctx
import matplotlib.pyplot as plt

Reflect on this assignment. What did you find most challenging? What problems did you encounter? How might you have gone about it differently the next time? (Write a few bullet points in a markdown cell.)

To help me calibrate future assignments, please also indicate about how long it took you to complete.

YOUR ANSWER HERE

# Challenge Problem
Remember, you need to do at least two of these challenge problems this quarter.

We mapped the number of grocery stores, but didn't say anything directly about food deserts. In the challenge, take this analysis further. My suggestion:
* Normalize your number of outlets (e.g. by population) and plot these data
* Plot the normalized number of outlets (both gas/liquor and other) against race, income, and other variables from EnviroScreen
* Think about boundary issues created by the artefacts of census geography. Create a measure of the number of outlets within (say) 2km of a census tract boundary, even if they do not intersect that tract
* Briefly write a few sentences that intepret your results

If you want to go further, please do!